<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css" />
  </head>

  <body>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="item-footer col-lg-4">
            <div class="logo">
              <a href="http://">
                <span class="fa fa-align-right logo-icon"></span>
                Corp Vision
                <span class="description">Vision to your Future</span>
              </a>
              <p>
                Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit
                amet Semper at elit team advisors.
              </p>
              <div class="social-footer">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class="item-footer item-2 col-lg-4">
            <h1>CONTACT INFO</h1>
            <p>
              Address : Corp Vision, 343 marketing, #21 cravel 1st lane street,
              NY - 62617.
            </p>
            <p>Phone Number: <a href="tel:+0705512053">0705512053</a></p>
            <p>
              Email : <a href="mailto:info@example.com">info@example.com</a>
            </p>
            <p>
              Support: <a href="maito: info@support.com">info@support.com</a>
            </p>
          </div>
          <div class="item-footer item-2 col-lg-2">
            <h1>CATEGORIES</h1>
            <p><a href="http://">Marketing Strategy</a></p>
            <p><a href="http://">Startup Business</a></p>
            <p><a href="http://">Web development</a></p>
          </div>
          <div class="item-footer item-2 col-lg-2">
            <h1>META</h1>
            <p><a href="http://">Log in</a></p>
            <p><a href="http://">Entries feed</a></p>
            <p><a href="http://">Comments feed</a></p>
            <p><a href="http://">CWordPress.org</a></p>
          </div>
        </div>
        <hr style="color: #ffffff; font-size: 1px" />
        <div class="container">
          <div class="copyright">
            <p class="CopyRights copy-footer-29">
              &copy; 2022 Corp Vision All Rights Reserved | WordPress Theme by
              <a href="#"> W3Layouts. </a>
            </p>
            <!-- <a href="#header" class="back-to-top">
              <i class="fa fa-angle-up"></i>
            </a> -->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
